.message {
    display: flex;
    align-items: center;
    justify-content: center;
margin-bottom: 10px;
    margin-left: 25px;
    font-size: 15px;

}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.options button {
    padding: 5px;
    min-width: 150px;
margin-left: 35px;

}