.header {
    padding: 0 10px;
    border-bottom: 1px solid #60486E;
    max-width: 100vw;
    
}

.header a {
    display: inline-block;
    padding: 15px 0;
    color: inherit;
    font-size: 18px;
    color: #60486E;
    font-family: "Switzer", sans-serif;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    gap: 15px;
}