
@font-face {
font-family: 'Sentient';
  src: url('./fonts/Sentient_Complete/Fonts/OTF/Sentient-Medium.otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer_Complete/Fonts/OTF/Switzer-Regular.otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  max-width: 1440px;
  font-family: 'Switzer', sans-serif;
  font-size: 18px;
  background: linear-gradient(90deg, #FFC8DD, #BDE0FE);
}

/*
#FFC8DD
#BDE0FE
*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

table,
th,
td {
  border: 1px solid #54445c;
  border-radius: 9px;
}

button {
  cursor: pointer;
  font-size: 18px;
  border: none;
  border-radius: 9px;
  color: #54445c;
  background-color: #ffffff85;
  
  display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    margin: auto;
    margin-top: 15px;
    
    font-family: 'Switzer', sans-serif;
    font-weight: normal;
    font-size: 19px;
    font-weight: 700;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

}
button:hover,
button:focus{
  background-color: #54445c;
  color: #ffffffdc;
}
a {
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

a:hover {
  color: #b64e73;
  font-family: 'Switzer', sans-serif;
  font-weight: normal;
}